/*header 1*/
/* Desktop styles */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: none;
  }
  
  .header-logo {
    width: 20%;
    height: 80%;
    border: 1px solid black;
    font-size: 2rem;
    margin: 20px;
    justify-content: center;
    align-items: center;
  }
  
  .header-nav ul {
    display: flex;
  }
  
  .header-nav li {
    margin-right: 1rem;
  }
  
  .header-nav li:last-child {
    margin-right: 0;
  }
  
  .header-nav a {
    text-decoration: none;
    color: #000;
  }
  
  .hamburger-menu {
    display: none;
  }
  
  /* Tablet styles */
  @media (max-width: 768px) {
    .header-nav {
      display: none;
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
      background-color: #fff;
      box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    }
  
    .header-nav ul {
      flex-direction: column;
    }
  
    .header-nav li {
      margin: 0;
      border-bottom: 1px solid #ccc;
    }
  
    .hamburger-menu {
      display: block;
      font-size: 2rem;
      background-color: transparent;
      border: none;
      cursor: pointer;
    }
  }
  
  /* Mobile styles */
  @media (max-width: 480px) {
    .header-logo {
      font-size: 1.5rem;
    }
  }

  /*header 2*/