body {
	display: flex;
	height: 100vw;
	flex-direction: column;
}

/*background-image hero*/
.hero_1 {
	display: flex;
	background-image: url("../public/components/images/great-lakes.jpeg");
	background-size: cover;
	height: 600px;
	width: 100vw;
	background-repeat: no-repeat;
	justify-content: center;
	align-items: center;
	border: 3px solid $black;
	padding: 100px auto;
	position: relative;

	.hero-text {
		display: flex;
		border: 3px solid $white;
		flex-direction: column;
		height: 200px;
		width: 200px;
		justify-content: center;
		align-items: center;
		margin: 7% auto;
		color: $cream;

		h3 {
			margin-bottom: 10px;
		}
	}



}


/*desktop  fav_font_hero*/

.hero_2 {
	display: flex;
	flex-direction: row;
	border: 1px solid black;
	flex-basis: 25%;
	height: 500px;
	width: 50vw;
	margin: 25px auto;
	justify-content: space-between;
	align-content: center;
}

.hero_2 img {
	display: flex;
	margin: 25px;
	width: 20em;
	height: 25em;
}

.fav_font {
	display: flex;
	flex-direction: column;
	height: .25fr;
	flex-basis: .5;
	justify-content: space-around;
	align-content: space-around;
	font-size: 16px;
	margin: auto;
	padding: auto;
}

.fav_font blockquote {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-content: space-around;
	width: 15em;
	margin: 50% auto 15px 25px;
}

.fav_font figcaption {
	text-align: center;
	padding: 25px;
	width: 20em;
	height: 25em;
}

.fav_font img {
	display: flex;
	flex-basis: 1;
	height: 25em;
	margin: 25% auto;
	padding: auto;
}

/* Media query for smaller screens */
@media (max-width: 480px) {
	.hero_2 {
		flex-direction: column;
		flex-basis: auto;
		height: auto;
		margin: 25px auto;
	}

	.hero_2 img {
		margin: 25px auto;
		max-width: 100%;
		height: auto;
	}

	.fav_font {
		flex-basis: auto;
		height: auto;
		margin: auto;
		padding: auto;
	}

	.fav_font blockquote {
		width: auto;
		margin: 15px auto;
	}

	.fav_font figcaption {
		padding: 10px;
		width: auto;
		height: auto;
	}

	.fav_font img {
		margin: 25px auto;
		max-width: 100%;
		height: auto;
	}
}

/*hero_3* desktop*/

.hero_3 {
	background-image: url('../public/components/images/1440_gradient_rectangle.jpg');
	background-size: cover;
	background-position: center;
	height: 80vh;
	display: flex;
	align-items: center;
	padding: 1fr 20px;
  
  }
  
  .hero_3_content {
	display: flex;
	flex-direction: column;
	max-width: 100vw;
	justify-content: center;
	align-items: center;
	margin: 1fr auto;
	text-align: center;
	color: $black;
	padding: 1fr 20px;
	h3 {
		margin: 20px auto;
	}
  }
  
  .cta-button {
	min-height: 50px;
	width: 100px;
	margin: 50px;
	padding: 10px 20px;
	border: none;
	background-color: $cream;
	color: $blue-dark;
	font-size: 1.2rem;
	border-radius: 5px;
	cursor: pointer;
	transition: all 0.3s ease;
  }
  
  .cta-button:hover {
	background-color: $blue-dark;
	color: $cream;
  }

  @media (max-width: 480px) {
	.hero_3 {
	  background-image: url('../../public/components/images/1440_gradient_rectangle.jpg');
	  background-size: cover;
	  background-position: center;
	  height: 40vh;
	  display: flex;
	  align-items: center;
	  padding: 1fr 20px;							
  }
}
  /*end of 3rd hero*/