$color_1: white;
$color_2: black;
$background-color_1: aqua;

/* The hero image */
/* Place text in the middle of the image */
body {
	display: flex;
	height: 100vw;
	flex-direction: column; 
}

.hero1 {
	display: flex;
	background-image: url("../../public/components/images/great-lakes.jpeg");
	background-size: cover;
	height: 500px;
	width: 100vw;
	background-color: $grey;
	background-repeat: no-repeat;
	justify-content: center;
	
	border: 3px solid $black;
	img {
		display: flex;
		width: 100%;
		height: 100%;
		margin: auto;
		padding: auto;
	}
}
.hero-text {
	display: flex;
	border: 3px solid $white;
	flex-direction: column;
	height: 30%;
	width: 30%;
	justify-content: space-around;
	
	/*position: absolute;*/
	margin: 0 auto;
	/*top: 75%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: $black;*/
}
button {
	margin: 10px;
	width: 100px;
	height: 35px;
	border-radius: 25px;
	text-align: center;
	&:hover {
		background-color: $background-color_1;
		color: $color_2;
		filter: drop-shadow(2px 2px 2px black);
	}
}
.hero2 {
	display: flex;
	flex-direction: row;
	border: 1px solid black;
	flex-basis: 25%;
	height: 500px;
	margin: 25px auto;
	justify-content: space-between;
	align-content: center;
	img {
		display: flex;
		margin: 25px;
		width: 20em;
		height: 25em;
	}
}
.fav_font {
	display: flex;
	flex-direction: column;
	height: .25fr;
	flex-basis: .5;
	justify-content: space-around;
	align-content: space-around;
	font-size: 16px;
	margin: auto;
	padding: auto;
	blockquote {
		display: flex;
		justify-content: space-around;
		align-content: space-around;
		width: 15em;
		margin: 50% auto 15px auto;
	}
	figcaption {
		text-align: center;
		padding: 15px;
		width: 20em;
	height: 25em;
	}
	img {
		display: flex;
		flex-basis: 1;
		height: 25em;
		margin: 25% auto;
		padding: auto;
	}
}

