$color_1: rgb(40, 99, 143);
$color_2: rgb(252, 245, 235);
$background-color_1: rgb(252, 245, 235);
$background-color_2: rgb(11, 38, 58);
$background-color_3: rgb(40, 99, 143);

/*change buttons 2&3 to have different stuff
like background-image=linear-gradient, effects, etc...
name as primary, secondary, etc...*/
/*display:block-parent container*/
/*hamburger menu= @media screen and (max-width: 768px) {*/
/*logo png delete background*/
header {
	display: flex;
	max-height: 200px;
	max-width: 100vw;
	flex-flow: row wrap;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 5px;
	height: 200px;
	background-color: $background-color_1;
	border: 3px double rgb(81, 49, 39);
}
nav {
	display: flex;
	margin: 0 5%;
}
.nav-links {
	ul {
		li {
			color: $color_1;
			display: inline-flex;
			list-style: none;
			justify-content: space-between;
		}
	}
	button {
		display: block;
		background-color: $background-color_1;
		min-width: 150px;
		min-height: 50px;
		border: .5px solid rgb(81, 49, 39);
		border-radius: 25px;
		justify-content: center;
		align-content: center;
		text-align: center;
		margin: 10px 25px;
		&:hover {
			background-color: $background-color_2;
			color: $color_2;
			filter: drop-shadow(7px 7px 2px rgb(60, 36, 28));
		}
		&:active {
			background-color: $background-color_3;
		}
	}
	a {
		text-decoration: none;
		color: $color_1;
		font-size: 12pt;
		padding: 12px 20px;
		&:hover {
			background-color: $background-color_2;
			color: $color_2;
			border-radius: 25px;
		}
		&:active {
			color: $color_2;
			background-color: $background-color_3;
			color: $color_2;
		}
	}
}
.logo {
	display: flex;
	background-color: $background-color_3;
	margin: 0 100px;
	border: 1px solid rgb(81, 49, 39);
	justify-content: center;
	img {
		display: flex;
		min-height: 75px;
		min-width: 75px;
		margin: 15px;
		color: $color_1;
	}
	a {
		&:hover {
			background-color: $background-color_3;
			color: $color_2;
			filter: drop-shadow(7px 7px 2px rgb(60, 36, 28));
		}
	}
}
