body {
  background-color: #fff;
  color: #333;
  font: 1.2em / 1.5 Helvetica Neue, Helvetica, Arial, sans-serif;
  padding: 0;
  margin: 0;
}

.examples {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  border: 1px solid black;
  padding: 25px;
}

.card1 {
  /* Add shadows to create the "card" effect */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 4px;
  border: 1px solid black;
  width: 200px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
}

.card1 img {
  height: 150px;
  width: 150px;
}

/* On mouse-over, add a deeper shadow */
.card1:hover {
  box-shadow: 8px 8px 16px 0 rgba(0,0,0,0.2);
}

/* Add some padding inside the card container */
.container1 {
  padding: 2px 16px;
}

.card2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 4px;
  border: 1px solid black;
  width: 200px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 5px; /* 5px rounded corners */
}


.card2:hover {
  box-shadow: 8px 8px 16px 0 rgba(0,0,0,0.2);
}
/* Add rounded corners to the top left and the top right corner of the image */
.card2 img {
  height: 200px;
  width: 150px;
  border-radius: 5px 5px 0 0;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
  grid-gap: 20px;
}

.card {
  display: grid;
  grid-template-rows: max-content 200px 1fr;
  border: solid 1px black;
}

.card img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.card h2 {
  margin: 0;
  padding: .5rem;
}

.card .content {
  padding: .5rem;
}

.card footer {
  background-color: #333;
  color: #fff;
  padding: .5rem;
}


.cards3 {
  display: flex;
  flex-flow: row wrap;
  height: 525px;
  min-width: 100vw;
  background-color: rgb(40, 99, 143);
  border: 3px double rgb(81, 49, 39);
  justify-content: space-around;
  align-content: space-between;
  column-gap: 30px;
  padding: 0px 30px 30px 30px;
}


.cards3 h1 {
  display: flex;
  width: 100%;
  margin-top: 5px;
  justify-content: center;
  align-content: space-around;
  color: rgb(252, 245, 235)
}

.cards h3 {
  margin-bottom: 10px;
}
.pod {
  background-color:rgb(252, 245, 235);
  display: flex;
  flex-flow: row wrap;
  height: 525px;
  width: 100vw;
  border: 3px double rgb(81, 49, 39);
  justify-content: space-around;
  align-content: space-between;
  column-gap: 30px;
  padding: 10px 30px 30px 030px;
}


.pod h1 {
  display: flex;
  width: 100%;
  margin-top: 5px;
  justify-content: center;
  align-content: center;
  color: rgb(40, 99, 143);
}




.one {
  display: flex;
  flex-basis: 20%;
  height: 425px;
  flex-flow: row wrap;
  background-color: #fff;
  border: 2px solid rgb(81, 49, 39);
  text-align: center;
  justify-content: center;
  align-content: space-around;
  padding: 15px;
}


.one img {
  height: 150px;
  margin: 10px;
  align-content: center;
  filter:drop-shadow(3px 3px 3px black);
}

.two {
  display: flex;
  flex-basis: 25%;
  height: 425px;
  flex-flow: row wrap;
  background-color: #fff;
  border: 2px solid rgb(81, 49, 39);
  text-align: center;
  justify-content: center;
  align-content: space-around;
  padding: 15px;
}

.two p {
  margin: 25px;
}

.two img {
  height: 150px;
  margin: 10px;
  align-content: center;
  filter:drop-shadow(3px 3px 3px black);
}

.three {
  display: flex;
  flex-basis: 20%;
  height: 425px;
  flex-flow: row wrap;
  background-color: #fff;
  border: 2px solid rgb(81, 49, 39);
  text-align: center;
  justify-content: center;
  align-content: space-around;
  padding: 15px;
}

.three img {
  height: 150px;
  margin: 10px;
  align-content: center;
  filter:drop-shadow(3px 3px 3px black);
  }

button {
  display: flex;
  background-color: rgb(252, 245, 235);
  min-width: 150px;
  min-height: 35px;
  border: .5px solid rgb(81, 49, 39);
  border-radius: 25px;
  justify-content: center;
  text-align: center; 
  margin: 30px;
}

button:hover {
background-color: rgb(40, 99, 143);
color: rgb(252, 245, 235);
filter: drop-shadow(3px 3px 3px black);
}


a {
text-decoration: none;
color:  rgb(11, 38, 58);
font-size: 12pt;
padding: 12px 20px;
}

a:hover {
background-color: rgb(40, 99, 143);
color: rgb(252, 245, 235);
border-radius: 25px;
}

a:active {
color: rgb(252, 245, 235);
background-color: rgb(11, 38, 58);
}

button:active {
background-color: rgb(11, 38, 58);
color: rgb(252, 245, 235);
}

img:hover {
  filter: drop-shadow(3px 3px 3px black);
}
