<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Breadcrumbs</title>
    <link rel="stylesheet" href="../style.css">
</head>
<body>
    <div class="crumb-container">
        <!--breadcrumb 1-->
        <div class="breadcrumb1">
            <a href="#">Home</a>
            <span>&raquo;</span>
            <a href="#">Products</a>
            <span>&raquo;</span>
            <a href="#">Category</a>
            <span>&raquo;</span>
            <span class="current-page">Product Name</span>
          </div>
          <!--end of breadcrumb 1-->

<!--breadcrumb 2-->
          <div class="breadcrumb2">
            <ul>
              <li><a href="#">Home</a></li>
              <li>&gt;</li>
              <li><a href="#">Category</a></li>
              <li>&gt;</li>
              <li class="current-page">Product Name</li>
            </ul>


    </div>
    
</body>
</html>