<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Card</title>

  <link rel="stylesheet" href="../style.css">
</head>

<body>
  <!--div for cards 1&2-->
  <div class="examples">

    <!--card 1-->
    <div class="card1">
      <img src="../components/images/photo_blur_circle.png" alt="Avatar">
      <div class="container1">
        <h3><b>Jane Doe</b></h3>
        <p>Graphic Designer</p>
      </div>
    </div>

    <!--card 2-->
    <div class="card2">
      <img src="../components/images/photo_blur_circle.png" alt="Avatar">
      <div class="container2">
        <h3><b>Jane Doe</b></h3>
        <p>Web Designer</p>
      </div>
    </div>
  </div>

<!--div & detailed cards-->
  <div class="detailed_cards">

    <!--card 1-->
    <div class="card">
      <header>
        <h3>A short heading</h3>
      </header>

      <img src="../components/images/bgimage2.png" alt="alternate explanation">
      <div class="content">
        <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime modi reiciendis ea molestias quas amet.
          years ago. </p>
      </div>
    </div>

    <!--card 2-->
    <article class="card">
      <header>
        <h2>A short heading</h2>
      </header>

      <img src="../components/images/bgimage2.png" alt="alternate explanation">
      <div class="content">
        <p>Short content.</p>
      </div>
      <footer>I have a footer!</footer>
    </article>

    <!--card 3-->
    <article class="card">
      <header>
        <h2>A longer heading in this card</h2>
      </header>

      <img src="../components/images/bgimage2.png" alt="alternate explanation">
      <div class="content">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia corporis voluptate aliquid, libero
          doloremque.</p>
      </div>
      <footer>I have a footer!</footer>
    </article>

    <!--cardh3-->
    <article class="card">
      <header>
        <h2>A short heading</h2>
      </header>

      <img src="../components/images/bgimage2.png" alt="alternate explanation">
      <div class="content">
        <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime modi reiciendis ea molestias quas amet.
        </p>
      </div>
    </article>
    
  </div>

  <!--div for cards HD-->
  <article class="hd_cards_div">
    <h1>Title</h1>

    <!--card 1-->
      <div class="one">
        <a href="#"><img src="../components/images/image circle.png" alt=""></a>
        <div>
          <h3>One</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua.</p>
        </div>
        <span class="btn"><a href="">Spoonflower</a></span>
      </div>

      <!--card 2-->
      <div class="two">
        <a href="#"><img src="../components/images/image circle.png" alt=""></a>
        <div>
          <h3>Two</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua.</p>
        </div>
        <span class="btn"><a href="">Redbubble</a></span>
      </div>

      <!--card 3-->
      <div class="three">
        <a href="#"><img src="../components/images/image circle.png" alt=""></a>
        <div>
          <h3>Three</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua.</p>
        </div>
        <span class="btn"><a href="">Society 6</a></span>
      </div>
   
  </article>


</body>