<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Footer</title>
    <link rel="stylesheet" href="../style.css">
</head>

<body>
    <div class="ftr-container">

        <!-- Footer 1 -->
        <footer class="footer1">
            <div class="contact-info">
                <p>Contact us: <a href="mailto:info@example.com">info@example.com</a></p>
                <p>Phone: +1234567890</p>
                <p>Address: 123 Main Street, City, Country</p>
            </div>
            <div class="ftr1-center">
            <div class="logo-ftr1">
                <h3>Logo</h3>
                <p>&copy; 2023 HildegunStudio</p>
            </div>
            </div>
            <div class="social-icons">
                <a href="#" class="social-icon"><img
                        src="../components/imgs_rounded_square_sm_icons/fb_round_color.png"></i></a>
                <a href="#" class="social-icon"><img
                        src="../components/imgs_rounded_square_sm_icons/ig_rd_color.png"></i></a>
                <a href="#" class="social-icon"><img
                        src="../components/imgs_rounded_square_sm_icons/pinterest_rd_color.png"></i></a>
            </div>
        </footer>
        <!--end of footer 1-->

        <!-- Footer 2 -->
        <footer class="footer2">
            <div class="social-icons">
                <a href="#" class="social-icon"><img
                        src="../components/imgs_rounded_square_sm_icons/pinterest_p_color.png"></i></a>
                <a href="#" class="social-icon"><img src="../components/imgs_rounded_square_sm_icons/tktk_rd_color.png"></i></a>
                <a href="#" class="social-icon"><img src="../components/imgs_rounded_square_sm_icons/ig_rd_color.png"></i></a>
            </div>
            <div class="ftr2-center">
            <div class="logo-ftr2">
                <h3>Logo</h3>
                <p>&copy; 2023 HildegunStudio</p>
                
            </div>
            </div>
            <div class="additional-info">
                <p>&copy; 2023 Your Company. All rights reserved.</p>
            </div>
        </footer>

        </footer>


    </div>

</body>

</html>