<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>header</title>
    <link rel="stylesheet" href="../style.css">
</head>
<body>
  <!--header 1, responsive, cream background, black text, logo left, nav right, hamburger menu-->
    <div class="header-one">
        <header>
            <div class="header-logo">
              <a href="#"><img src="../components/images/image circle.png" alt=""></a>
            </div>
            <nav class="header-nav">
              <ul>
                <li class="btn-small"><a href="#">Home</a></li>
                <li class="btn-small"><a href="#">About</a></li>
                <li class="btn-gradient1"><a href="#">Services</a></li>
                <li class="btn-gradient2"><a href="#">Contact</a></li>
              </ul>
            </nav>
            <button class="hamburger-menu">&#9776;</button>
          </header>
    </div>
    <!--header 2-->
    <div class="header-2">
      
    </div>
</body>
</html>