<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hero</title>

    <link rel="stylesheet" href="../style.css">
</head>

<body>
    <div class="hero_1">
        <!-- <img src="images/great-lakes.jpeg" alt="scenic view of the great lakes">-->
        <div class="hero-text">
            <h3>I am Jane Doe</h3>
            <p>And I'm a Designer</p>
            <div class="btn-small">Hire me</div>
        </div>
    </div>

    <!--hero-favorite_font-->
    <div class="hero_2">
        <div class="fav_font">
            <blockquote>
                <p>"Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quibusdam."</p>
           
            <figcaption>—Andrea, <cite>My Favorite Font</cite></figcaption>
        </blockquote>
        </div>
        <div class="fav_font_img">
            <img src="images/Didot-80.jpg" alt="my favorite font">
        </div>
    </div>

    <!--hero_3-->
    <section class="hero_3">
        <div class="hero_3_content">
          <h3>Responsive Hero Section</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed auctor lacinia congue.</p>
          <button class="cta-button">Learn More</button>
        </div>
      </section>
</body>

</html>