<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nav</title>
   
    <link rel="stylesheet" href="../style.css">
</head>
<body>
    <header>
        <div class="logo"><a href="#"><img src="../homepage_images/image circle.png" alt="Hildegun Design logo"></a></div>
            <nav class="nav-links">
            <ul>
                <li><button class="primary"><a href="#" alt="link">Button</a></button></li>
                <li><button class="secondary"><a href="#" alt="link">Button</a></button></li>
                <li><button class="alternate"><a href="#" alt="link ">Button</a></button></li>
                </ul>
            </nav>
    </header>
</body>
</html>