<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Variables</title>
    <link rel="stylesheet" href="../style.css">
</head>

<body>
    <div class="container-main">
        <div class="flex-container1">
            <div class="flex-item1">
                <div class="box1"></div>
                <p class="title">black</p>
            </div>
            <div class="flex-item2">
                <div class="box2"></div>
                <p class="title">white</p>
            </div>
            <div class="flex-item3">
                <div class="box3"></div>
                <p class="title">grey-light</p>
            </div>
            <div class="flex-item4">
                <div class="box4"></div>
                <p class="title">grey</p>
            </div>
            <div class="flex-item5">
                <div class="box5"></div>
                <p class="title">silver</p>
            </div>
        </div>

            <!--container 1 end-->

            <div class="flex-container2">
                <div class="flex-item6">
                    <div class="box6"></div>
                    <p class="title">blue-main</p>
                </div>
                <div class="flex-item7">
                    <div class="box7"></div>
                    <p class="title">blue-dark</p>
                </div>
                <div class="flex-item8">
                    <div class="box8"></div>
                    <p class="title">cream</p>
                </div>
                <div class="flex-item9">
                    <div class="box9"></div>
                    <p class="title">cream-dark</p>
                </div>
                <div class="flex-item10">
                    <div class="box10"></div>
                    <p class="title">brown-accent</p>
                </div>
            </div>

                <!--container 2 end-->

                <div class="flex-container3">
                    <div class="flex-item1">
                        <div class="box11"></div>
                        <p class="title">brown-text</p>
                    </div>
                    <div class="flex-item12">
                        <div class="box12"></div>
                        <p class="title">brown-dark</p>
                    </div>
                    <div class="flex-item13">
                        <div class="box13"></div>
                        <p class="title">0</p>
                    </div>
                    <div class="flex-item14">
                        <div class="box14"></div>
                        <p class="title">0</p>
                    </div>
                    <div class="flex-item15">
                        <div class="box15"></div>
                        <p class="title">0</p>
                    </div>
                </div>

                    <!--container 3 end-->

<!--Typography-->
                <!--font-family-header-->
            <div class="typography1">
                <h1 class="h11-bold">Source Sans Pro, 3rem</h1>
                <h2 class="h21-medium">Heading 2, 2.5rem</h2>
                <h3 class="h31-regular">Heading 3, 2rem</h3>
                <p class="p1-regular">$font-family-header, font-weight normal, p, body, 1.5rem.</p>
                <p class="p1-accent">$font-family-header, font-style italic, font-size 1.5rem</p>
            </div>

                <!--font-family-body-->
               
                <div class="typography2">
                    <h1 class="h12-bold">Noto Serif, 3rem</h1>
                    <h2 class="h22-medium">Heading 2, 2.5rem</h2>
                    <h3 class="h32-regular">Heading 3, 2rem</h3>
                    <p class="p2-regular">$font-family-body, font-weight normal, p, body, 1.5rem.</p>
                    <p class="p2-accent">$font-family-body, font-style italic, font-size 1.5rem</p>
                </div>
                <!--end font-family-body-->
              
                 <!--font-family-accent-->

                <div class="typography3">
                    <h1 class="h13-bold">EB Garamond, 3rem</h1>
                    <h2 class="h23-medium">Heading 2, 2.5rem</h2>
                    <h3 class="h33-regular">Heading 3, 2rem</h3>
                    <p class="p3-regular">font-family-accent, font-style normal, p, body, 1.5rem</p>
                    <p class="p3-accent">$font-family-accent, font-style italic, font-size 1.5rem</p>
                </div>
              
               

</div>
</body>

</html>