<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Card</title>
  <link rel="stylesheet" href="card.css">
</head>

<body>
  <div class="examples">
    <div class="card1">
      <img src="homepage_images/photo_blur_circle.png" alt="Avatar">
      <div class="container1">
        <h4><b>John Doe</b></h4>
        <p>Architect & Engineer</p>
      </div>
    </div>
    <div class="card2">
      <img src="homepage_images/photo_blur_circle.png" alt="Avatar" style="width:100%">
      <div class="container2">
        <h4><b>Jane Doe</b></h4>
        <p>Web Designer</p>
      </div>
    </div>


    <div class="cards">
      <article class="card">
        <header>
          <h2>A short heading</h2>
        </header>

        <img src="homepage_images/bgimage2.png" alt="alternate explanation">
        <div class="content">
          <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime modi reiciendis ea molestias quas amet.
            years ago. </p>
        </div>

      </article>

      <article class="card">
        <header>
          <h2>A short heading</h2>
        </header>

        <img src="homepage_images/bgimage2.png" alt="alternate explanation">
        <div class="content">
          <p>Short content.</p>
        </div>
        <footer>I have a footer!</footer>
      </article>

      <article class="card">
        <header>
          <h2>A longer heading in this card</h2>
        </header>

        <img src="homepage_images/bgimage2.png" alt="alternate explanation">
        <div class="content">
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia corporis voluptate aliquid, libero
            doloremque.</p>
        </div>
        <footer>I have a footer!</footer>
      </article>
      <article class="card">
        <header>
          <h2>A short heading</h2>
        </header>

        <img src="homepage_images/bgimage2.png" alt="alternate explanation">
        <div class="content">
          <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime modi reiciendis ea molestias quas amet.
          </p>
        </div>
      </article>
    </div>
    </div>
    <article class="cards3">
    <article class="pod">
      <h1>Title</h1>
          <div class="one">
              <img src="homepage_images/image circle.png" alt="">
              <div><h3>One</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p></div>
              <button class="example"><a href="">Spoonflower.com</a></button>
      </div>
      <div class="two">
              <img src="homepage_images/image circle.png" alt="">
              <div><h3>Two</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p></div>
              <button class="example"><a href="">Redbubble.com</a></button>
      </div>
      <div class="three">
                  <img src="homepage_images/image circle.png" alt="">
                  <div><h3>Three</h3>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p></div>
                  <button class="example"><a href="">Society 6.com</a></button>
      </div>
  </article>
  </article>


</body>
