@import url("https://fonts.googleapis.com/css2?family=EB+Garamond&family=Noto+Serif&family=Source+Sans+Pro:wght@300&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Define font families */
/* Apply font families to typography */
h1, h2, h3 {
  font-weight: bold;
  /* additional styling */
}

h1 {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 3rem;
}

h2 {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 2.5rem;
}

h3 {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 2rem;
}

p {
  font-family: "Noto Serif", serif;
  font-size: 1.5rem;
  font-weight: normal;
}

a {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1.25rem;
  font-weight: bold;
  font-style: italic;
}

blockquote {
  font-family: "EB Garamond", serif;
  font-style: italic;
  /* additional styling */
}

/*font sizes*/
/*$font-size-header: 2rem;*/
body {
  display: flex;
  height: 100vw;
  flex-direction: column;
}

/*background-image hero*/
.hero_1 {
  display: flex;
  background-image: url("../public/components/images/great-lakes.jpeg");
  background-size: cover;
  height: 600px;
  width: 100vw;
  background-repeat: no-repeat;
  justify-content: center;
  align-items: center;
  border: 3px solid rgb(0, 0, 0);
  padding: 100px auto;
  position: relative;
}
.hero_1 .hero-text {
  display: flex;
  border: 3px solid rgb(255, 255, 255);
  flex-direction: column;
  height: 200px;
  width: 200px;
  justify-content: center;
  align-items: center;
  margin: 7% auto;
  color: rgb(252, 245, 235);
}
.hero_1 .hero-text h3 {
  margin-bottom: 10px;
}

/*desktop  fav_font_hero*/
.hero_2 {
  display: flex;
  flex-direction: row;
  border: 1px solid black;
  flex-basis: 25%;
  height: 500px;
  width: 50vw;
  margin: 25px auto;
  justify-content: space-between;
  align-content: center;
}

.hero_2 img {
  display: flex;
  margin: 25px;
  width: 20em;
  height: 25em;
}

.fav_font {
  display: flex;
  flex-direction: column;
  height: 0.25fr;
  flex-basis: 0.5;
  justify-content: space-around;
  align-content: space-around;
  font-size: 16px;
  margin: auto;
  padding: auto;
}

.fav_font blockquote {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-content: space-around;
  width: 15em;
  margin: 50% auto 15px 25px;
}

.fav_font figcaption {
  text-align: center;
  padding: 25px;
  width: 20em;
  height: 25em;
}

.fav_font img {
  display: flex;
  flex-basis: 1;
  height: 25em;
  margin: 25% auto;
  padding: auto;
}

/* Media query for smaller screens */
@media (max-width: 480px) {
  .hero_2 {
    flex-direction: column;
    flex-basis: auto;
    height: auto;
    margin: 25px auto;
  }
  .hero_2 img {
    margin: 25px auto;
    max-width: 100%;
    height: auto;
  }
  .fav_font {
    flex-basis: auto;
    height: auto;
    margin: auto;
    padding: auto;
  }
  .fav_font blockquote {
    width: auto;
    margin: 15px auto;
  }
  .fav_font figcaption {
    padding: 10px;
    width: auto;
    height: auto;
  }
  .fav_font img {
    margin: 25px auto;
    max-width: 100%;
    height: auto;
  }
}
/*hero_3* desktop*/
.hero_3 {
  background-image: url("../public/components/images/1440_gradient_rectangle.jpg");
  background-size: cover;
  background-position: center;
  height: 80vh;
  display: flex;
  align-items: center;
  padding: 1fr 20px;
}

.hero_3_content {
  display: flex;
  flex-direction: column;
  max-width: 100vw;
  justify-content: center;
  align-items: center;
  margin: 1fr auto;
  text-align: center;
  color: rgb(0, 0, 0);
  padding: 1fr 20px;
}
.hero_3_content h3 {
  margin: 20px auto;
}

.cta-button {
  min-height: 50px;
  width: 100px;
  margin: 50px;
  padding: 10px 20px;
  border: none;
  background-color: rgb(252, 245, 235);
  color: rgb(11, 38, 58);
  font-size: 1.2rem;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.cta-button:hover {
  background-color: rgb(11, 38, 58);
  color: rgb(252, 245, 235);
}

@media (max-width: 480px) {
  .hero_3 {
    background-image: url("../public/components/images/400_gradient_rectangle.jpg");
    background-size: cover;
    background-position: center;
    height: 40vh;
    display: flex;
    align-items: center;
    padding: 1fr 20px;
  }
}
/*end of 3rd hero*/
/*On hover the button colors go into their respective negatives.  Active is a darker color than hover.  These colors can be changes to customize the buttons uses */
.btn_sizes {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  border: 1px solid black;
}

ul {
  text-decoration: none;
  list-style: none;
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
}

/*default btn*/
.btn {
  display: flex;
  background-color: rgb(252, 245, 235);
  color: rgb(11, 38, 58);
  margin: 50px;
  width: 150px;
  height: 35px;
  border: 0.5px solid rgb(81, 49, 39);
  border-radius: 25px;
  justify-content: center;
  align-content: center;
  padding: 5px;
}
.btn a {
  text-decoration: none;
  align-self: center;
  color: rgb(11, 38, 58);
}
.btn:hover {
  color: rgb(252, 245, 235);
  background-color: rgb(40, 99, 143);
  filter: drop-shadow(3px 3px 3px black);
}
.btn:active {
  color: rgb(252, 245, 235);
  background-color: rgb(11, 38, 58);
  filter: drop-shadow(3px 3px 3px black);
}

/*btn-small*/
.btn-small {
  display: flex;
  background-color: rgb(252, 245, 235);
  color: rgb(11, 38, 58);
  margin: 25px;
  width: 100px;
  height: 35px;
  border: 0.5px solid rgb(81, 49, 39);
  border-radius: 25px;
  font-size: 16px;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.btn-small a {
  display: flex;
  text-decoration: none;
  align-content: center;
}
.btn-small a:hover {
  width: 150px;
  border-radius: 25px;
  align-content: center;
}
.btn-small:hover {
  color: rgb(252, 245, 235);
  background-color: rgb(40, 99, 143);
  filter: drop-shadow(3px 3px 3px black);
}
.btn-small:active {
  background-color: rgb(11, 38, 58);
  color: rgb(252, 245, 235);
  filter: drop-shadow(3px 3px 3px black);
}

/*btn-large*/
.btn-large {
  display: flex;
  background-color: rgb(252, 245, 235);
  color: rgb(11, 38, 58);
  margin: 50px;
  width: 200px;
  height: 50px;
  border: 0.5px solid rgb(81, 49, 39);
  border-radius: 25px;
  font-size: 16px;
  justify-content: center;
  align-content: center;
}
.btn-large a {
  text-decoration: none;
  align-self: center;
}
.btn-large:hover {
  color: rgb(252, 245, 235);
  background-color: rgb(40, 99, 143);
  filter: drop-shadow(3px 3px 3px black);
}
.btn-large:active {
  background-color: rgb(11, 38, 58);
  color: rgb(252, 245, 235);
  filter: drop-shadow(3px 3px 3px black);
}

/*btn-icon*/
.btn-icon {
  display: flex;
  background-color: rgb(40, 99, 143);
  color: rgb(252, 245, 235);
  margin: 50px;
  width: 75px;
  height: 75px;
  border: 0.5px solid rgb(81, 49, 39);
  border-radius: 50%;
  font-size: 16px;
  justify-content: center;
  align-content: center;
}
.btn-icon a {
  text-decoration: none;
  align-self: center;
}
.btn-icon:hover {
  color: rgb(252, 245, 235);
  background-color: rgb(40, 99, 143);
  filter: drop-shadow(3px 3px 3px black);
}
.btn-icon:active {
  background-color: rgb(11, 38, 58);
  color: rgb(252, 245, 235);
  filter: drop-shadow(3px 3px 3px black);
}

/*btn-gradient1*/
.btn-gradient1 {
  display: flex;
  background: linear-gradient(to right, rgb(40, 99, 143), rgb(252, 245, 235), rgb(11, 38, 58));
  color: rgb(11, 38, 58);
  margin: 50px;
  width: 150px;
  height: 35px;
  border: 0.5px solid rgb(81, 49, 39);
  border-radius: 25px;
  font-size: 16px;
  justify-content: center;
  align-content: center;
}
.btn-gradient1 a {
  text-decoration: none;
  align-self: center;
}
.btn-gradient1:hover {
  color: rgb(252, 245, 235);
  background-color: rgb(40, 99, 143);
  filter: drop-shadow(3px 3px 3px black);
}
.btn-gradient1:active {
  background-color: rgb(11, 38, 58);
  color: rgb(252, 245, 235);
  filter: drop-shadow(3px 3px 3px black);
}

/*btn-gradient2*/
.btn-gradient2 {
  display: flex;
  background: linear-gradient(to right, rgb(40, 99, 143), rgb(252, 245, 235), rgb(81, 49, 39));
  color: rgb(11, 38, 58);
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.btn-gradient2 a {
  text-decoration: none;
  align-self: center;
}
.btn-gradient2:hover {
  color: rgb(252, 245, 235);
  background-color: rgb(40, 99, 143);
  filter: drop-shadow(3px 3px 3px black);
}
.btn-gradient2:active {
  background-color: rgb(11, 38, 58);
  color: rgb(252, 245, 235);
  filter: drop-shadow(3px 3px 3px black);
}

/*btn-gradient3*/
.btn-gradient3 {
  display: flex;
  background: linear-gradient(to right, rgb(11, 38, 58), rgb(40, 99, 143), rgb(11, 38, 58));
  color: rgb(252, 245, 235);
  margin: 50px;
  width: 150px;
  height: 35px;
  border: 0.5px solid rgb(81, 49, 39);
  border-radius: 25px;
  font-size: 16px;
  justify-content: center;
  align-content: center;
}
.btn-gradient3 a {
  text-decoration: none;
  align-self: center;
}
.btn-gradient3:hover {
  color: rgb(252, 245, 235);
  background-color: rgb(40, 99, 143);
  filter: drop-shadow(3px 3px 3px black);
}
.btn-gradient3:active {
  background-color: rgb(11, 38, 58);
  color: rgb(252, 245, 235);
  filter: drop-shadow(3px 3px 3px black);
}

/*btn-square*/
.btn-square {
  display: flex;
  padding: 10px 20px;
  border: 0.5px solid rgb(81, 49, 39);
  border-radius: 4px;
  background-color: rgb(252, 245, 235);
  color: rgb(40, 99, 143);
  margin: 50px;
  color: #333;
  font-size: 16px;
  cursor: pointer;
}
.btn-square a {
  text-decoration: none;
  align-self: center;
  list-style: none;
}
.btn-square:hover {
  background-color: rgb(40, 99, 143);
  color: rgb(252, 245, 235);
  filter: drop-shadow(3px 3px 3px black);
}
.btn-square:active {
  background-color: rgb(11, 38, 58);
  color: rgb(252, 245, 235);
  filter: drop-shadow(3px 3px 3px black);
}

/* On mouse-over, add a deeper shadow */
/* Add some padding inside the card container */
/* Add rounded corners to the top left and the top right corner of the image */
/*div for cards 1&2*/
.examples {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  border: 1px solid black;
  padding: 25px;
  height: 300px;
  width: 100vw;
}

/*card 1*/
.card1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3px;
  border: 1px solid black;
  width: 250px;
  height: 300px;
  padding: 7px;
  box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}
.card1 img {
  height: 150px;
  width: 150px;
  margin: 20px;
}
.card1:hover {
  box-shadow: 8px 8px 16px 0 rgba(0, 0, 0, 0.2);
}
.card1 h3 {
  margin: 7px;
  font-size: 1.5rem;
}
.card1 p {
  margin: 7px;
  font-size: 1.5rem;
}

/*text container*/
.container1 {
  padding: 2px 16px;
}

/*card 2*/
.card2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3px;
  border: 1px solid black;
  width: 250px;
  height: 300px;
  box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border-radius: 5px;
}
.card2:hover {
  box-shadow: 8px 8px 16px 0 rgba(0, 0, 0, 0.2);
}
.card2 img {
  height: 150px;
  width: 150px;
  margin: 20px;
  border-radius: 5px 5px 0 0;
}
.card2 h3 {
  font-size: 1.5rem;
  margin: 7px;
}
.card2 p {
  font-size: 1.5rem;
  margin: 7px;
}

/*div for .card*/
.detailed_cards {
  display: flex;
  flex-direction: row;
  grid-template-columns: auto-fill, minmax(230px, 1fr);
  grid-gap: 20px;
  width: 100vw;
}

/*card*/
.card {
  display: grid;
  grid-template-rows: max-content 200px 1fr;
  border: solid 1px black;
}
.card img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.card h2 {
  margin: 7px;
  padding: 0.5rem;
}
.card p {
  font-size: 1.5rem;
  margin: 7px;
  padding: 0.5rem;
}
.card .content {
  padding: 0.5rem;
}
.card footer {
  background-color: rgb(11, 38, 58);
  color: rgb(252, 245, 235);
  padding: 0.5rem;
}

/*div for .card*/
.hd_cards_div {
  display: flex;
  flex-flow: row wrap;
  min-height: 525px;
  min-width: 100vw;
  background-color: rgb(255, 255, 255);
  border: 3px double rgb(81, 39, 39);
  justify-content: space-around;
  align-content: space-between;
  column-gap: 30px;
  padding: 0px 30px 30px 30px;
}
.hd_cards_div h1 {
  display: flex;
  width: 100%;
  margin-top: 5px;
  justify-content: center;
  align-content: space-around;
  color: rgb(252, 245, 235);
}

/*hd cards div*/
.hd_cards_div {
  display: flex;
  flex-flow: row wrap;
  min-height: 525px;
  min-width: 100vw;
  background-color: rgb(255, 255, 255);
  border: 3px double rgb(81, 39, 39);
  justify-content: space-around;
  align-content: space-between;
  column-gap: 30px;
  padding: 0px 30px 30px 30px;
}
.hd_cards_div h1 {
  display: flex;
  width: 100%;
  margin-top: 5px;
  justify-content: center;
  align-content: space-around;
  color: rgb(11, 38, 58);
}

/*card.1*/
.one {
  display: flex;
  flex-basis: 20%;
  height: 80%;
  flex-flow: row wrap;
  background-color: rgb(255, 255, 255);
  border: 2px solid rgb(81, 39, 39);
  text-align: center;
  justify-content: center;
  align-content: space-around;
  padding: 15px;
}
.one a:hover {
  filter: drop-shadow(3px 3px 3px black);
}
.one img {
  height: 150px;
  margin: 15px;
  align-content: center;
  filter: drop-shadow(3px 3px 3px black);
}
.one h3 {
  margin: 15px;
}

/*card.2*/
.two {
  display: flex;
  flex-basis: 25%;
  height: 80%;
  flex-flow: row wrap;
  background-color: rgb(255, 255, 255);
  border: 2px solid rgb(81, 39, 39);
  text-align: center;
  justify-content: center;
  align-content: space-around;
  padding: 15px;
}
.two a:hover {
  filter: drop-shadow(3px 3px 3px black);
}
.two h3 {
  margin: 15px;
}
.two img {
  height: 150px;
  margin: 15px;
  align-content: center;
  filter: drop-shadow(3px 3px 3px black);
}
.two img:hover {
  filter: drop-shadow(3px 3px 3px black);
}

/*card.3*/
.three {
  display: flex;
  flex-basis: 20%;
  height: 80%;
  flex-flow: row wrap;
  background-color: rgb(255, 255, 255);
  border: 2px solid rgb(81, 39, 39);
  text-align: center;
  justify-content: center;
  align-content: space-around;
  padding: 15px;
}
.three a:hover {
  filter: drop-shadow(3px 3px 3px black);
}
.three h3 {
  margin: 15px;
}
.three img {
  height: 150px;
  margin: 15px;
  align-content: center;
  filter: drop-shadow(3px 3px 3px black);
}
.three img:hover {
  filter: drop-shadow(3px 3px 3px black);
}

img:hover {
  filter: drop-shadow(3px 3px 3px black);
}

/*change buttons 2&3 to have different stuff
like background-image=linear-gradient, effects, etc...
name as primary, secondary, etc...*/
/*display:block-parent container*/
/*hamburger menu= @media screen and (max-width: 768px) {*/
/*logo png delete background*/
header {
  display: flex;
  max-height: 200px;
  max-width: 100vw;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 5px;
  height: 200px;
  background-color: rgb(255, 255, 255);
  border: 3px double rgb(81, 49, 39);
}

nav {
  display: flex;
  margin: 0 5%;
}

.nav-links ul li {
  color: rgb(11, 38, 58);
  display: inline-flex;
  list-style: none;
  justify-content: space-between;
}
.nav-links button {
  display: block;
  background-color: rgb(252, 245, 235);
  color: rgb(11, 38, 58);
  min-width: 150px;
  min-height: 50px;
  border: 0.5px solid rgb(81, 49, 39);
  border-radius: 25px;
  justify-content: center;
  align-content: center;
  text-align: center;
  margin: 10px 25px;
}
.nav-links button:hover {
  background-color: rgb(40, 99, 143);
  color: rgb(252, 245, 235);
  filter: drop-shadow(7px 7px 2px rgb(60, 36, 28));
}
.nav-links button:active {
  background-color: rgb(11, 38, 58);
}
.nav-links a {
  text-decoration: none;
  color: rgb(252, 245, 235);
  font-size: 12pt;
  padding: 12px 20px;
}
.nav-links a:hover {
  background-color: rgb(40, 99, 143);
  color: rgb(252, 245, 235);
  border-radius: 25px;
}
.nav-links a:active {
  color: rgb(252, 245, 235);
  background-color: rgb(11, 38, 58);
}

.logo {
  display: flex;
  background-color: rgb(252, 245, 235);
  margin: 0 100px;
  border: 1px solid rgb(81, 49, 39);
  justify-content: center;
}
.logo img {
  display: flex;
  min-height: 75px;
  min-width: 75px;
  margin: 15px;
  color: rgb(40, 99, 143);
}
.logo a:hover {
  background-color: rgb(11, 38, 58);
  color: rgb(252, 245, 235);
  filter: drop-shadow(7px 7px 2px rgb(81, 49, 39));
}

.ftr-container {
  display: flex;
  flex-direction: column;
  border: 1px solid rgb(0, 0, 0);
}

.footer1 {
  display: flex;
  width: 100vw;
  height: 200px;
  background: rgb(11, 38, 58);
  color: rgb(255, 255, 255);
  padding: 2rem 0;
  text-align: center;
  margin: 30px 0;
}
.footer1 .contact-info {
  display: flex;
  flex-direction: column;
  width: 25%;
  border: 1px solid rgb(255, 255, 255);
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
}
.footer1 .contact-info h3 {
  font-size: 2rem;
  font-weight: 700;
  margin: 0;
}
.footer1 .contact-info p {
  font-size: 1.5rem;
  font-weight: 400;
  margin: 0;
}
.footer1 .ftr1-center {
  display: flex;
  flex-direction: column;
  width: 15%;
  border: 1px solid rgb(255, 255, 255);
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
.footer1 .ftr1-center h3 {
  font-size: 2rem;
  font-weight: 700;
  margin: 0;
}
.footer1 .ftr1-center p {
  width: 300px;
  font-size: 1.5rem;
  font-weight: 400;
  margin: 0;
}
.footer1 .logo-ftr1 {
  display: flex;
  width: 100px;
  height: 100px;
  margin: 0 auto;
  display: block;
  flex-direction: column;
  padding: 1rem;
  border-radius: 50%;
  background: rgb(255, 255, 255);
  border: 1px solid rgb(0, 0, 0);
  color: rgb(0, 0, 0);
  text-align: center;
  line-height: 100px;
  font-size: 2rem;
  font-weight: 700;
}
.footer1 .logo-ftr1 h3 {
  font-size: 2rem;
  font-weight: 700;
  margin: 0;
}
.footer1 .logo-ftr1 p {
  color: rgb(255, 255, 255);
  font-size: 0.75rem;
  font-weight: 400;
  margin: 0;
}
.footer1 .social-icons {
  display: flex;
  flex-direction: row;
  width: 25%;
  border: 1px solid rgb(255, 255, 255);
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
}
.footer1 .social-icons img {
  height: 40px;
  width: 40px;
  margin: 0 0.5rem;
}
.footer1 .social-icons a {
  color: rgb(255, 255, 255);
  font-size: 1.5rem;
  margin: 0 0.5rem;
}
.footer1 .social-icons a:hover {
  border: 1px solid rgb(255, 255, 255);
}

@media (max-width: 480px) {
  .footer1 {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .footer1 .contact-info {
    margin: 20px;
  }
  .footer1 .contact-info h3 {
    font-size: 2rem;
  }
  .footer1 .contact-info p {
    font-size: 1.25rem;
  }
  .footer1 .logo-ftr1 {
    margin: 20px;
  }
  .footer1 .social-icons {
    margin: 20px;
  }
}
/*end of footer 1*/
/*footer 2*/
.footer2 {
  display: flex;
  width: 100vw;
  height: 200px;
  background: rgb(242, 235, 225);
  color: rgb(0, 0, 0);
  padding: 2rem 0;
  text-align: center;
  margin: 30px 0;
}
.footer2 .additional-info {
  display: flex;
  flex-direction: column;
  width: 25%;
  border: 1px solid rgb(11, 38, 58);
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
}
.footer2 .additional-info h3 {
  font-size: 2rem;
  font-weight: 700;
  margin: 0;
}
.footer2 .additional-info p {
  font-size: 1.5rem;
  font-weight: 400;
  margin: 0;
}
.footer2 .ftr2-center {
  display: flex;
  flex-direction: column;
  width: 15%;
  border: 1px solid rgb(0, 0, 0);
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
.footer2 .ftr2-center h3 {
  font-size: 2rem;
  font-weight: 700;
  margin: 0;
}
.footer2 .ftr2-center p {
  width: 300px;
  font-size: 1.5rem;
  font-weight: 400;
  margin: 0;
}
.footer2 .logo-ftr2 {
  display: flex;
  width: 100px;
  height: 100px;
  margin: 0 auto;
  display: block;
  padding: 1rem;
  border-radius: 0;
  background: rgb(0, 0, 0);
  border: 1px solid rgb(0, 0, 0);
  color: rgb(0, 0, 0);
  text-align: center;
  line-height: 100px;
  font-size: 2rem;
  font-weight: 700;
}
.footer2 .logo-ftr2 h3 {
  color: rgb(242, 235, 225);
  font-family: "EB Garamond", serif;
  font-size: 2rem;
  font-weight: 700;
  margin: 0;
}
.footer2 .logo-ftr2 p {
  color: rgb(0, 0, 0);
  font-size: 0.75rem;
  font-weight: 400;
  margin: 0;
}
.footer2 .social-icons {
  display: flex;
  flex-direction: row;
  width: 25%;
  border: 1px solid rgb(0, 0, 0);
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
}
.footer2 .social-icons img {
  height: 40px;
  width: 40px;
  margin: 0 0.5rem;
}
.footer2 .social-icons a {
  color: rgb(255, 255, 255);
  font-size: 1.5rem;
  margin: 0 0.5rem;
}
.footer2 .social-icons a:hover {
  border: 1px solid rgb(255, 255, 255);
}

@media (max-width: 480px) {
  .footer2 {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .footer2 .contact-info {
    margin: 20px;
  }
  .footer2 .contact-info h3 {
    font-size: 2rem;
  }
  .footer2 .contact-info p {
    font-size: 1.25rem;
  }
  .footer2 .logo-ftr1 {
    margin: 20px;
  }
  .footer2 .social-icons {
    margin: 20px;
  }
}
/*end of footer 2*/
/*header 1*/
/* Desktop styles */
.header-one {
  display: flex;
  width: 100vw;
  height: 800px;
  flex-direction: column;
  border: 1px solid rgb(0, 0, 0);
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 300px;
  border: 1px solid rgb(0, 0, 0);
  background-color: rgb(252, 245, 235);
  margin: 30px 0;
}

.header-logo {
  width: 20%;
  height: 80%;
  border: 1px solid rgb(0, 0, 0);
  font-size: 2rem;
  margin: 20px;
  justify-content: center;
  align-items: center;
}

.header-nav ul {
  display: flex;
}
.header-nav ul li {
  margin-right: 1rem;
}
.header-nav ul li:last-child {
  margin-right: 0;
}
.header-nav ul a {
  text-decoration: none;
  color: rgb(0, 0, 0);
}

.hamburger-menu {
  display: none;
}

/* Tablet styles */
@media (max-width: 768px) {
  .header-nav {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: #fff;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  }
  .header-nav ul {
    flex-direction: column;
  }
  .header-nav li {
    margin: 0;
    border-bottom: 1px solid #ccc;
  }
  .hamburger-menu {
    display: block;
    font-size: 2rem;
    background-color: transparent;
    border: none;
    cursor: pointer;
  }
}
/* Mobile styles */
@media (max-width: 480px) {
  .header-logo {
    font-size: 1.5rem;
  }
}
/*header 2*/
.container-main {
  width: 90vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.flex-container1 {
  display: flex;
  width: 90vw;
  height: 1fr;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  border: 1px solid rgb(0, 0, 0);
  margin: 20px;
  padding: 20px;
}

.flex-item1 {
  width: calc(5% - 20px);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 40px;
}

.box1 {
  width: 100%;
  padding-bottom: 100%;
  background-color: rgb(0, 0, 0);
  border: 1px solid rgb(0, 0, 0);
  margin-bottom: 10px;
}

.flex-item2 {
  width: calc(5% - 20px);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 40px;
}

.box2 {
  width: 100%;
  padding-bottom: 100%;
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(0, 0, 0);
  margin-bottom: 10px;
}

.flex-item3 {
  width: calc(5% - 20px);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 40px;
}

.box3 {
  width: 100%;
  padding-bottom: 100%;
  background-color: #f5f5f5;
  border: 1px solid rgb(0, 0, 0);
  margin-bottom: 10px;
}

.flex-item4 {
  width: calc(5% - 20px);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 40px;
}

.box4 {
  width: 100%;
  padding-bottom: 100%;
  background-color: #e5e5e5;
  border: 1px solid rgb(0, 0, 0);
  margin-bottom: 10px;
}

.flex-item5 {
  width: calc(5% - 20px);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 40px;
}

.box5 {
  width: 100%;
  padding-bottom: 100%;
  background-color: #cccccc;
  border: 1px solid rgb(0, 0, 0);
  margin-bottom: 10px;
}

/*container 1 end*/
.flex-container2 {
  display: flex;
  width: 90vw;
  height: 1fr;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  border: 1px solid rgb(0, 0, 0);
  margin: 20px;
  padding: 20px;
}

.flex-item6 {
  width: calc(5% - 20px);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 40px;
}

.box6 {
  width: 100%;
  padding-bottom: 100%;
  background-color: rgb(40, 99, 143);
  border: 1px solid rgb(0, 0, 0);
  margin-bottom: 10px;
}

.flex-item7 {
  width: calc(5% - 20px);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 40px;
}

.box7 {
  width: 100%;
  padding-bottom: 100%;
  background-color: rgb(11, 38, 58);
  border: 1px solid rgb(0, 0, 0);
  margin-bottom: 10px;
}

.flex-item8 {
  width: calc(5% - 20px);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 40px;
}

.box8 {
  width: 100%;
  padding-bottom: 100%;
  background-color: rgb(252, 245, 235);
  border: 1px solid rgb(0, 0, 0);
  margin-bottom: 10px;
}

.flex-item9 {
  width: calc(5% - 20px);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 40px;
}

.box9 {
  width: 100%;
  padding-bottom: 100%;
  background-color: rgb(242, 235, 225);
  border: 1px solid rgb(0, 0, 0);
  margin-bottom: 10px;
}

.flex-item10 {
  width: calc(5% - 20px);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 40px;
}

.box10 {
  width: 100%;
  padding-bottom: 100%;
  background-color: rgb(124, 77, 58);
  border: 1px solid rgb(0, 0, 0);
  margin-bottom: 10px;
}

/*container 2 end*/
.flex-container3 {
  display: flex;
  width: 90vw;
  height: 1fr;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  border: 1px solid rgb(0, 0, 0);
  margin: 20px;
  padding: 20px;
}

.flex-item11 {
  width: calc(5% - 20px);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 40px;
}

.box11 {
  width: 100%;
  padding-bottom: 100%;
  background-color: rgb(81, 49, 39);
  border: 1px solid rgb(0, 0, 0);
  margin-bottom: 10px;
}

.flex-item12 {
  width: calc(5% - 20px);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 40px;
}

.box12 {
  width: 100%;
  padding-bottom: 100%;
  background-color: rgb(40, 24, 19);
  border: 1px solid rgb(0, 0, 0);
  margin-bottom: 10px;
}

.flex-item13 {
  width: calc(5% - 20px);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 40px;
}

.box13 {
  width: 100%;
  padding-bottom: 100%;
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(0, 0, 0);
  margin-bottom: 10px;
}

.flex-item14 {
  width: calc(5% - 20px);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 40px;
}

.box14 {
  width: 100%;
  padding-bottom: 100%;
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(0, 0, 0);
  margin-bottom: 10px;
}

.flex-item15 {
  width: calc(5% - 20px);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 40px;
}

.box15 {
  width: 100%;
  padding-bottom: 100%;
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(0, 0, 0);
  margin-bottom: 10px;
}

/*container 3 end*/
.title {
  font-size: 20px;
  text-align: center;
}

/*Typography*/
.typography1 {
  display: flex;
  width: 90vw;
  height: 800px;
  flex-direction: column;
  font-family: "EB Garamond", serif;
  border: 1px solid rgb(0, 0, 0);
  margin: 20px;
  padding: 20px 20px 20px 60px;
}
.typography1 h1, .typography1 .h11-bold {
  font-family: "EB Garamond", serif;
  font-weight: bold;
  font-size: 3rem;
  line-height: 1.2;
  letter-spacing: -0.5px;
  color: #333333;
}
.typography1 p, .typography1 .p1-regular {
  font-family: "EB Garamond", serif;
  font-weight: normal;
  font-style: normal;
  font-size: 1.5rem;
  line-height: 1.5;
  letter-spacing: 0;
  color: #666666;
}
.typography1 h2, .typography1 .h21-medium {
  font-family: "EB Garamond", serif;
  font-weight: medium;
  font-size: 2.5rem;
  line-height: 1.2;
  letter-spacing: -0.25px;
  color: #333333;
}
.typography1 p, .typography1 .p1-accent {
  font-family: "EB Garamond", serif;
  font-style: italic;
  font-size: 1.5rem;
  line-height: 1.5;
  letter-spacing: 0;
  color: #666666;
}
.typography1 h3, .typography1 .h3-regular {
  font-family: "EB Garamond", serif;
  font-weight: normal;
  font-size: 2rem;
  line-height: 1.2;
  letter-spacing: 0;
  color: #333333;
}

/*end of font-family-header*/
/*font-family-body*/
.typography2 {
  display: flex;
  width: 90vw;
  height: 800px;
  flex-direction: column;
  font-family: "EB Garamond", serif;
  border: 1px solid rgb(0, 0, 0);
  margin: 20px;
  padding: 20px 20px 20px 60px;
}
.typography2 h1, .typography2 .h12-bold {
  font-family: "EB Garamond", serif;
  font-weight: bold;
  font-size: 3rem;
  line-height: 1.2;
  letter-spacing: -0.5px;
  color: #333333;
}
.typography2 p, .typography2 .p2-regular {
  font-family: "EB Garamond", serif;
  font-weight: normal;
  font-style: normal;
  font-size: 1.5rem;
  line-height: 1.5;
  letter-spacing: 0;
  color: #666666;
}
.typography2 h2, .typography2 .h22-medium {
  font-family: "EB Garamond", serif;
  font-weight: medium;
  font-size: 2.5rem;
  line-height: 1.2;
  letter-spacing: -0.25px;
  color: #333333;
}
.typography2 p, .typography2 .p2-accent {
  font-family: "EB Garamond", serif;
  font-style: italic;
  font-size: 1.5rem;
  line-height: 1.5;
  letter-spacing: 0;
  color: #666666;
}
.typography2 h3, .typography2 .h32-regular {
  font-family: "EB Garamond", serif;
  font-weight: normal;
  font-size: 2rem;
  line-height: 1.2;
  letter-spacing: 0;
  color: #333333;
}

/*end of font-family-body*/
/*font-family-accent*/
.typography3 {
  display: flex;
  width: 90vw;
  height: 800px;
  flex-direction: column;
  font-family: "EB Garamond", serif;
  border: 1px solid rgb(0, 0, 0);
  margin: 20px;
  padding: 20px 20px 20px 60px;
}
.typography3 h1, .typography3 .h13-bold {
  font-family: "EB Garamond", serif;
  font-weight: bold;
  font-size: 3rem;
  line-height: 1.2;
  letter-spacing: -0.5px;
  color: #333333;
}
.typography3 p, .typography3 .p3-regular {
  font-family: "EB Garamond", serif;
  font-weight: normal;
  font-style: normal;
  font-size: 1.5rem;
  line-height: 1.5;
  letter-spacing: 0;
  color: #666666;
}
.typography3 h2, .typography3 .h23-medium {
  font-family: "EB Garamond", serif;
  font-weight: medium;
  font-size: 2.5rem;
  line-height: 1.2;
  letter-spacing: -0.25px;
  color: #333333;
}
.typography3 p, .typography3 .p3-accent {
  font-family: "EB Garamond", serif;
  font-style: italic;
  font-size: 1.5rem;
  line-height: 1.5;
  letter-spacing: 0;
  color: #666666;
}
.typography3 h3, .typography3 .h33-regular {
  font-family: "EB Garamond", serif;
  font-weight: normal;
  font-size: 2rem;
  line-height: 1.2;
  letter-spacing: 0;
  color: #333333;
}

/*Media Queries*/
@media (max-width: 768px) {
  .flex-container1 {
    flex-direction: row wrap;
    align-items: center;
  }
}
@media (max-width: 480px) {
  .flex-container1 {
    flex-direction: column;
    align-items: center;
  }
}
.crumb-container {
  width: 80vw;
  height: 100vh;
  border: 1px solid rgb(0, 0, 0);
}

/*breadcrumb1*/
.breadcrumb1 {
  margin-bottom: 10px;
}
.breadcrumb1 a {
  text-decoration: none;
  color: rgb(81, 49, 39);
}
.breadcrumb1 a:hover {
  color: rgb(11, 38, 58);
}

.breadcrumb1 span {
  color: #333;
  margin: 0 5px;
}

.breadcrumb1 .current-page {
  font-weight: bold;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1.5rem;
}

/*end of breadcrumb1*/
/*breadcrumb2*/
.breadcrumb2 ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}
.breadcrumb2 ul li {
  margin-right: 5px;
}
.breadcrumb2 ul a {
  text-decoration: none;
  color: rgb(81, 49, 39);
}
.breadcrumb2 ul a:hover {
  color: rgb(11, 38, 58);
}

.breadcrumb2 .current-page {
  font-weight: bold;
  font-family: "EB Garamond", serif;
  font-size: 1.5rem;
}

/*# sourceMappingURL=style.css.map */
