html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* The hero image */
/* Place text in the middle of the image */
body {
  height: 100%;
}

html {
  height: 100%;
}

h1 {
  font-size: 50px;
  text-align: center;
  margin: 0;
  padding: 0;
}

.hero {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../../public/homepage_images/Quote.png");
  height: 65%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.hero img {
  display: flex;
  width: 100%;
  height: 50%;
  margin: auto;
  padding: auto;
}

.hero-text {
  font-size: 20px;
  text-align: center;
  position: absolute;
  top: 75%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

button {
  margin: 10px;
  width: 100px;
  height: 35px;
  border-radius: 25px;
  text-align: center;
}
button:hover {
  background-color: aqua;
  color: black;
  filter: drop-shadow(2px 2px 2px black);
}

.hero2 {
  display: flex;
  flex-direction: row;
  border: 1px solid black;
  width: 600px;
  height: 300px;
  margin: 25px auto;
  justify-content: space-around;
}
.hero2 img {
  display: flex;
  margin: 10px 25px;
}

.quote {
  display: flex;
  flex-direction: column;
  height: 200px;
  width: 200px;
  justify-content: space-around;
  align-content: center;
  font-size: 20px;
  margin: auto;
  padding: auto;
}

/*On hover the button colors go into their respective negatives.  Active is a darker color than hover.  These colors can be changes to customize the buttons uses */
button {
  display: flex;
  background-color: rgb(252, 245, 235);
  margin: 50px;
  width: 150px;
  height: 35px;
  border: 0.5px solid rgb(81, 49, 39);
  border-radius: 25px;
  font-size: 16px;
  justify-content: center;
  align-content: center;
}
button a {
  text-decoration: none;
  color: rgb(40, 99, 143);
  align-self: center;
}
button a:hover {
  color: rgb(252, 245, 235);
  font-size: 18px;
  border-radius: 25px;
}
button:hover {
  color: rgb(252, 245, 235);
  background-color: rgb(40, 99, 143);
}
button:active {
  background-color: rgb(11, 38, 58);
  color: rgb(252, 245, 235);
}

/* On mouse-over, add a deeper shadow */
/* Add some padding inside the card container */
/* Add rounded corners to the top left and the top right corner of the image */
body {
  background-color: #fff;
  color: #333;
  font: 1em/1.5 Helvetica Neue, Helvetica, Arial, sans-serif;
  padding: 0;
  margin: 0;
}

.examples {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  border: 1px solid black;
  padding: 25px;
  height: 300px;
  width: auto;
}

.card1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 4px;
  border: 1px solid black;
  width: 200px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}
.card1 img {
  height: 150px;
  width: 150px;
}
.card1:hover {
  box-shadow: 8px 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.container1 {
  padding: 2px 16px;
}

.card2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 4px;
  border: 1px solid black;
  width: 200px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border-radius: 5px;
}
.card2:hover {
  box-shadow: 8px 8px 16px 0 rgba(0, 0, 0, 0.2);
}
.card2 img {
  height: 200px;
  width: 150px;
  border-radius: 5px 5px 0 0;
}

.detailed_cards {
  display: flex;
  flex-direction: row;
  grid-template-columns: auto-fill, minmax(230px, 1fr);
  grid-gap: 20px;
}
.detailed_cards h3 {
  margin-bottom: 10px;
}

.card {
  display: grid;
  grid-template-rows: max-content 200px 1fr;
  border: solid 1px black;
}
.card img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.card h2 {
  margin: 0;
  padding: 0.5rem;
}
.card .content {
  padding: 0.5rem;
}
.card footer {
  background-color: #333;
  color: #fff;
  padding: 0.5rem;
}

.hd_cards_div {
  display: flex;
  flex-flow: row wrap;
  min-height: 525px;
  min-width: 100vw;
  background-color: rgb(40, 99, 143);
  border: 3px double rgb(81, 49, 39);
  justify-content: space-around;
  align-content: space-between;
  column-gap: 30px;
  padding: 0px 30px 30px 30px;
}
.hd_cards_div h1 {
  display: flex;
  width: 100%;
  margin-top: 5px;
  justify-content: center;
  align-content: space-around;
  color: rgb(252, 245, 235);
}

.pod {
  background-color: rgb(252, 245, 235);
  display: flex;
  flex-flow: row wrap;
  height: 525px;
  width: 100vw;
  border: 3px double rgb(81, 49, 39);
  justify-content: space-around;
  align-content: space-between;
  column-gap: 30px;
  padding: 10px 30px 30px 30px;
}
.pod h1 {
  display: flex;
  width: 100%;
  margin-top: 5px;
  justify-content: center;
  align-content: center;
  color: rgb(40, 99, 143);
}
.pod h3 {
  display: flex;
  width: 100%;
  margin-top: 5px;
  justify-content: center;
  align-content: center;
  color: rgb(40, 99, 143);
  font: 1.2em/1.5 Helvetica Neue, Helvetica, Arial, sans-serif;
}

.one {
  display: flex;
  flex-basis: 20%;
  height: 425px;
  flex-flow: row wrap;
  background-color: #fff;
  border: 2px solid rgb(81, 49, 39);
  text-align: center;
  justify-content: center;
  align-content: space-around;
  padding: 15px;
}
.one img {
  height: 150px;
  margin: 10px;
  align-content: center;
  filter: drop-shadow(3px 3px 3px black);
}

.two {
  display: flex;
  flex-basis: 25%;
  height: 425px;
  flex-flow: row wrap;
  background-color: #fff;
  border: 2px solid rgb(81, 49, 39);
  text-align: center;
  justify-content: center;
  align-content: space-around;
  padding: 15px;
}
.two img {
  height: 150px;
  margin: 10px;
  align-content: center;
  filter: drop-shadow(3px 3px 3px black);
}

.three {
  display: flex;
  flex-basis: 20%;
  height: 425px;
  flex-flow: row wrap;
  background-color: #fff;
  border: 2px solid rgb(81, 49, 39);
  text-align: center;
  justify-content: center;
  align-content: space-around;
  padding: 15px;
}
.three img {
  height: 150px;
  margin: 10px;
  align-content: center;
  filter: drop-shadow(3px 3px 3px black);
}

button {
  display: flex;
  background-color: rgb(252, 245, 235);
  min-width: 150px;
  min-height: 45px;
  border: 0.5px solid rgb(81, 49, 39);
  border-radius: 25px;
  justify-content: center;
  text-align: center;
  margin: 30px;
}
button:hover {
  background-color: rgb(40, 99, 143);
  color: rgb(252, 245, 235);
  filter: drop-shadow(3px 3px 3px black);
}
button:active {
  background-color: rgb(11, 38, 58);
  color: rgb(252, 245, 235);
}

a {
  text-decoration: none;
  color: rgb(11, 38, 58);
  font-size: 12pt;
  padding: 12px 20px;
}
a:hover {
  background-color: rgb(40, 99, 143);
  color: rgb(252, 245, 235);
  border-radius: 25px;
}
a:active {
  color: rgb(252, 245, 235);
  background-color: rgb(11, 38, 58);
}

img:hover {
  filter: drop-shadow(3px 3px 3px black);
}

/*change buttons 2&3 to have different stuff
like background-image=linear-gradient, effects, etc...
name as primary, secondary, etc...*/
/*display:block-parent container*/
/*hamburger menu= @media screen and (max-width: 768px) {*/
/*logo png delete background*/
header {
  display: flex;
  max-height: 200px;
  max-width: 100vw;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 5px;
  height: 200px;
  background-color: rgb(252, 245, 235);
  border: 3px double rgb(81, 49, 39);
}

nav {
  display: flex;
  margin: 0 5%;
}

.nav-links ul li {
  color: rgb(40, 99, 143);
  display: inline-flex;
  list-style: none;
  justify-content: space-between;
}
.nav-links button {
  display: block;
  background-color: rgb(252, 245, 235);
  min-width: 150px;
  min-height: 50px;
  border: 0.5px solid rgb(81, 49, 39);
  border-radius: 25px;
  justify-content: center;
  align-content: center;
  text-align: center;
  margin: 10px 25px;
}
.nav-links button:hover {
  background-color: rgb(11, 38, 58);
  color: rgb(252, 245, 235);
  filter: drop-shadow(7px 7px 2px rgb(60, 36, 28));
}
.nav-links button:active {
  background-color: rgb(40, 99, 143);
}
.nav-links a {
  text-decoration: none;
  color: rgb(40, 99, 143);
  font-size: 12pt;
  padding: 12px 20px;
}
.nav-links a:hover {
  background-color: rgb(11, 38, 58);
  color: rgb(252, 245, 235);
  border-radius: 25px;
}
.nav-links a:active {
  color: rgb(252, 245, 235);
  background-color: rgb(40, 99, 143);
  color: rgb(252, 245, 235);
}

.logo {
  display: flex;
  background-color: rgb(40, 99, 143);
  margin: 0 100px;
  border: 1px solid rgb(81, 49, 39);
  justify-content: center;
}
.logo img {
  display: flex;
  min-height: 75px;
  min-width: 75px;
  margin: 15px;
  color: rgb(40, 99, 143);
}
.logo a:hover {
  background-color: rgb(40, 99, 143);
  color: rgb(252, 245, 235);
  filter: drop-shadow(7px 7px 2px rgb(60, 36, 28));
}

/*# sourceMappingURL=style.css.map */
